@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #101010;
  --color-text: #e0e0e0;
  --color-accent: #00f0ff;
}

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased;
  }
}
